/* Background: 0D1321
   border: h1 h p 3E5C76
  a 748CAB
  color: F0EBD8


*/

* {
  margin: 0;
  padding: 0;
}

body {
    background-color: #F0EBD8;
}

#navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px;
}

.navbar a {
  float: left;
  display: block;
  color: #748CAB;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 150px;
  /* Used in this example to enable scrolling */
}

#welcome-section {
  height: 100vh;
  background-color: #0D1321;
}

#projects {
  width: 100%;
}

.project-tile {
  width: 100%;
  height: auto;
  background-color: #3E5C76;
  text-align: center;
}
h2 {
  color: #3E5C76;
  text-align: center;
  font-size: 2em;
  /* padding: 1.2em; */
}
#aboutme {
  width: 100%;
  height: 300px;
  background-color: #000;
}

#portfolio {
  width: 100%;
  height: 100%;
  background-color: #0D1321;
}

ul {
  display: block;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  padding: 4px;
  color: white;
}

h1.welcome-section-intro {
  padding-top: 90px;
  color: #3E5C76;
  text-align: center;
  font-size: 33px;
}

p.intro {
  color: #3E5C76;
  text-align: center;
}

i {
  margin: 0;
  background-color: white;
  font-weight: 900;
  font-size: 3em;
  /* padding: 2px; */
}

i:hover {
  background-color: #0D1321;
  margin: 0;
}

p {
  color: #3E5C76;
}

.gallery-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 600px;
  width: 100%;
  /* background-color: #F0EBD8; */
}

.box1, .box2, .box3, .box4, .box5 {
  width: 230px;
  height: 230px;
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
}
.box6 {
  padding-top: 100px;
  margin-top: 30px;
  display: none;
}
img {
  margin: 9px;
}
.holder-text-img  {
  display: flex;
  justify-content: center;

}
/* .me-image {
  float: right;
  clear: right;
} */
@media only screen and  (max-width: 600px) and (min-width: 400px)  {
body {
  background-color: red;
  display: block;
  width: 100%;
  height: 100%;
  justify-content: center;
  }
  #portfolio {
    display: block;
  }
  p.about-work {
    display: none;
    margin-top: 4px; 
    padding-top: 4px;
  }

.box1, .box2, .box3, .box4, .box5, .box6 {
    width: 230px;
    height: 230px;
    /* padding-left: 40px;
    margin-top: 57px; */
    margin-top: 40px;
    padding-top: 50px;

  }

  h2 {
    color: #3E5C76;
    text-align: center;
    font-size: 1.6em;
    padding: 1.2em;
  }

}

@media screen and (max-width: 480px) {
  body {
    background-color: lightgreen;
  }
.gallery-container {
  display: block;
  width: 100%;
  height: 100%;
  justify-content: center;
  }
  #portfolio {
    display: block;
  }
  p.about-work {
    display: none;
    margin-top: 4px; 
    padding-top: 40px;
  }

.box1, .box2, .box3, .box4, .box5, .box6 {
    width: 230px;
    height: 230px;
    padding-left: 40px;
    margin-top: 57px;

  }

  h2 {
    color: #3E5C76;
    text-align: center;
    font-size: 1.6em;
    padding: 1.2em;
  }


  /* Medium devices (landscape tablets, 768px and up) */
@media screen (max-width: 768px) {
  body {
    background-color: blue;
  }
  ul {
    display: block;
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    color:black;
  }
    h2 {
      margin-top: .3em;
      color: #3E5C76;
      text-align: center;
      font-size: 2.9em;
      padding: 0.2em;
    }
  .gallery-container {
    display:flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    }
  .box1, .box2, .box3 {
    width: 230px;
    height: 230px;
    padding: 40px;
    margin: 57px;
  }
  .box4, .box5, .box6 {
    width: 230px;
    height: 230px;
    padding: 40px;
    margin: 57px;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen(min-width: 600px) { 
  body {
  background-color: black;
}
ul {
  display: flex;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  color: brown;
}
  h2 {
    padding-top: 1.2em;
    margin-top: 1.3em;
    color: #3E5C76;
    text-align: center;
    font-size: 1.6em;
    /* padding: 1.2em; */
  }
.gallery-container {
  display:flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  }
.box1, .box2, .box3, .box4, .box5, .box6  {
  width: 230px;
  height: 230px;
  padding-left: 40px;
  margin-top: 57px;
}
}


Large devices (laptops/desktops, 992px and up)
@media screen (min-width: 768px and max-width: 992px)  {
body {

  background-color: orange;
}

ul {
  display: block;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  color: white;
}
  h2 {
    /* padding-top: 1.2em; */
    /* margin-top: 1.3em;
    color: #3E5C76;
    text-align: center;
    /* font-size: 3em; */
    padding: 1.2em;
  }
.gallery-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  }
.box1, .box2, .box3, .box4, .box5, .box6  {
  width: 230px;
  height: 230px;
  padding-left: 40px;
  margin-top: 57px;
}
} */

